@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);

  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;

  }

  @media (min-width: 1280px) {
    width: 1280px;
  }
}

