<div class="footer">
    <div class="footer__container container">
        <p class="footer__copyright"> © 2023 | All Rights Reserved |</p>
        <p class="footer__desc">
            Developed with 
            <svg class="heart" width="14" height="14">
                <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="footer__text"> by </span>
            <button class="footer__link " href="">GoIT
                Students</button>
        </p>
    </div>
</div>