<section class="section-catalog">
	<input type="text" name="q" class="catalog__input" placeholder="film">
	<button type="submit" class="catalog__btn"></button>
	<!-- <svg>
        <use
          class="svg"
          href="./images/sprite.svg#icon-moon"
          width="32px"
          heigth="32px"
        ></use>
      </svg>
			<img
        class="upcoming-content__img"
         src="./images/catalog/catalog-star-half.svg"

        alt=""
        width="18px"
          height="18px"
      /> -->
		<!-- <svg clas="svg" width="16" height="16" viewBox="0 0 16 16"  xmlns="http://www.w3.org/2000/svg">
<path d="M15 6.5H9.625L8 1.5L6.375 6.5H1L5.375 9.5L3.6875 14.5L8 11.375L12.3125 14.5L10.625 9.5L15 6.5Z" stroke="url(#paint0_linear_148_6946)" stroke-linejoin="round"/>
<defs>
<linearGradient id="paint0_linear_148_6946" x1="2.71002" y1="2.42889" x2="11.9805" y2="14.8555" gradientUnits="userSpaceOnUse">
<stop stop-color="#F84119"/>
<stop offset="1" stop-color="#F89F19" stop-opacity="0.68"/>
</linearGradient>
</defs>
</svg> -->
  <ul class="catalog"></ul>
</section>
