<section class="library-hero__section">
   <div class="library-container container">
    <div class="library-text__wrap">
        <h1 class="library-header">Create Your <br> Dream Cinema</h1>
<p class="library-text">Is a guide to designing a personalized movie theater
     experience with the right equipment, customized decor, 
     and favorite films. This guide helps you bring the cinema 
     experience into your own home with cozy seating, 
     dim lighting, and movie theater snacks.</p>
    </div>
</section>
<section class="library-content__section">
    <div class="library-content container">
        <ul class="library-list"></ul>
        <div class="library-content__wrap">
            <p class="library-content__text">
                OOPS... <br>
                We are very sorry! <br>
                You don’t have any movies at your library.
            </p>
        </div>
        <a class="library-btn" href="#">Search movie</a>
    </div>
   

   </div>
</section>