<section class="library-section">
    <div class="library-hero__container">
   <div class="library-container container">
    <div class="library-text__wrap">
        <h1 class="library-header">Create Your <br> Dream Cinema</h1>
<p class="library-text">Is a guide to designing a personalized movie theater
     experience with the right equipment, customized decor, 
     and favorite films. This guide helps you bring the cinema 
     experience into your own home with cozy seating, 
     dim lighting, and movie theater snacks.</p>
    </div>
</div>
</div>
<div class="library-content__section">
    <div class="mylib-gallery library-content">
        <ul class="mylib-gallery__list catalog"></ul>
        <!-- <button type="button" class="load-more library-btn">Load more</button> -->
    </div>
    <div class="library-content container hidden" id="hidden">
        <div class="library-content__wrap">
            <p class="library-content__text">
                OOPS... <br>
                We are very sorry! <br>
                You don’t have any movies at your library.
            </p>
        </div>
        <a class="library-btn" href="#gallery">Search movie</a>
    </div>
   
<!-- <button class="btn"  type="button" data-movieId="movieId">
    addBtn</button> -->
   </div>
</section>