<section class="hero">
  <!-- <div class="hero-wrap">
        <h1 class="title">Ghosted</h1>
        <div class="catalog__stars-wrap">
            <div class="catalog__rating-active" style="width:${vote_average / 2 / 0.05}%">
            </div>
        </div>
        <p class="description">Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the
            shocking discovery that she’s a
            secret agent.</p>
        <button class="button-mob">Watch trailer</button>
    </div>  -->
</section>
