<section class="hero">
  <span class="black-span">
    <div class="hero-wrap__content">
      <h1 class="title">Let’s Make Your Own Cinema</h1>

      <p class="description">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
      <a href="./catalog.html" class="watch-trailer__btn">Get Started</a>
    </div>
  </span>
</section>
