<section class="hero">
    <div class="container">
        <h1 class="title">Ghosted</h1>
        <div class="rating">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
                <path fill="url(#a)"
                    d="M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z" />
                <defs>
                    <linearGradient id="a" x1="2.625" x2="13.876" y1="2.25" y2="17.25" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F84119" />
                        <stop offset="1" stop-color="#F89F19" stop-opacity=".68" />
                    </linearGradient>
                </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
                <path fill="url(#a)"
                    d="M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z" />
                <defs>
                    <linearGradient id="a" x1="2.625" x2="13.876" y1="2.25" y2="17.25" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F84119" />
                        <stop offset="1" stop-color="#F89F19" stop-opacity=".68" />
                    </linearGradient>
                </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
                <path fill="url(#a)"
                    d="M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z" />
                <defs>
                    <linearGradient id="a" x1="2.625" x2="13.876" y1="2.25" y2="17.25" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F84119" />
                        <stop offset="1" stop-color="#F89F19" stop-opacity=".68" />
                    </linearGradient>
                </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
                <path fill="url(#a)"
                    d="M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z" />
                <defs>
                    <linearGradient id="a" x1="2.625" x2="13.876" y1="2.25" y2="17.25" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F84119" />
                        <stop offset="1" stop-color="#F89F19" stop-opacity=".68" />
                    </linearGradient>
                </defs>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none">
                <path fill="url(#a)"
                    d="M13.852 16.875a.563.563 0 0 1-.33-.106L9 13.491 4.48 16.77a.562.562 0 0 1-.863-.635l1.763-5.224L.81 7.776a.562.562 0 0 1 .316-1.026h5.639l1.701-5.237a.562.562 0 0 1 1.07 0l1.702 5.238h5.638a.563.563 0 0 1 .319 1.027l-4.572 3.132 1.762 5.222a.564.564 0 0 1-.532.743Z" />
                <defs>
                    <linearGradient id="a" x1="2.625" x2="13.876" y1="2.25" y2="17.25" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F84119" />
                        <stop offset="1" stop-color="#F89F19" stop-opacity=".68" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <p class="description">Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the
            shocking discovery that she’s a
            secret agent.</p>
        <button class="button-mob">Watch trailer</button>
    </div> 
</section>