
<body>
  <div class="header">
    <div class="frame-parent">
      <img class="frame-child" alt="" src="#"/>
      <div class="cinemania"><a href="">Cinemania</a></div>
    </div>
    <div class="frame-group">
      <div class="frame-container">
        <ul class="home-parent">
          <li class="home"><a href="">Home</a></li>
          <li class="catalog"><a href="">Catalog</a></li>
          <li class="my-library"><a href="">My library</a></li>
        </ul>
      </div>
      <img class="color-switcher" alt="" src="#" />
    </div>
  </div>
</body>
