

<div class="notification-trailer-fail-overlay">
<div class="notification-trailer-fail">
    <button type="button" class="notification-trailer-fail-btn-close">
            <svg class="notification-trailer-fail-btn-close__icon">
                <use href="./images/sprite.svg#icon-close" width="16" heigth="16"></use>
              </svg>
    </button>
    <p class="notification-trailer-fail-text">OOPS...<br /> We are very sorry!<br /> But we couldn’t find the trailer.</p>
    <picture>
        <source 
        srcset="./images/modals/error-mobile-1x.png, ./images/modals/error-mobile-2x.png, ./images/modals/error-mobile-3x.png" 
        media="(max-width: 767px)" sizes="(min-width: 480px) 480px 100vw">
        <source 
        srcset="./images/modals/error-tablet-1x.png, ./images/modals/error-tablet-2x.png, ./images/modals/error-tablet-3x.png" 
        media="(min-width: 768px) and (max-width: 1199px)" sizes="(min-width: 768px) 768px 50vw">
        <source 
        srcset="./images/modals/error-desktop-1x.png, ./images/modals/error-desktop-2x.png, ./images/modals/error-desktop-3x.png" 
        media="(min-width: 1200px)" sizes="(min-width: 1200px) 1200px 25vw">
    <img src="./images/modals/error-mobile-1x.png" class="notification-trailer-fail-label"  alt="video tape">
    </picture>
</div>
</div>