<div class="modal__wrap--our-team modal-hide">
  <div class="modal-team">
    <h2 class="team__title">Our team</h2>

    <ul class="team__list">
      <li class="team__member">
        <img src="./images/members/nazar.jpg" alt="" class="member__img" />
        <p class="member__name">Nazar</p>
        <p class="member__pos">Team-lead</p>

        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/nzend/" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="https://t.me/Nz_End" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/illya.jpg" alt="" class="member__img" />
        <p class="member__name">Illya</p>
        <p class="member__pos">Scrum master</p>

        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/IlliaKomissarov" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="https://t.me/LongCapcher" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/vlad-k.jpg" alt="" class="member__img" />
        <p class="member__name">Vlad Kyiv</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/KutsVlad8" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a href="https://t.me/kutsevych_vlad" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/margo.jpg" alt="" class="member__img" />
        <p class="member__name">Margo</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/MargoMarm" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://t.me/buddymarm" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/vlad-if.jpg" alt="" class="member__img" />
        <p class="member__name">Vlad IF</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/Vladyslav-Bekesh" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://t.me/Vladyslav_from_ukr" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/olexandr.jpg" alt="" class="member__img" />
        <p class="member__name">Olexandr</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/alexxbarik" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/evg.jpg" alt="" class="member__img" />
        <p class="member__name">Evgeniy</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/Evgeniy-D-2022" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/vasyl.jpg" alt="" class="member__img" />
        <p class="member__name">Vasyl</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/TaurusVB" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://t.me/TaurusTer" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__member">
        <img src="./images/members/yura.jpg" alt="" class="member__img" />
        <p class="member__name">Yura</p>
        <p class="member__pos">Developer</p>
        <ul class="member__social">
          <li class="social__item">
            <a href="https://github.com/Yuraro" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#github-mark"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://t.me/yura_o" class="social__link">
              <svg class="social__svg" width="40" height="40">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <button class="upcoming-content__btn upcoming-content__btn--team">
      hide
    </button>
  </div>
</div>
