<section class="upcoming">
  <div class="container">
    <h2 class="upcoming__title">upcoming this mounth</h2>

    <div class="upcoming-content">
      <!-- разметка\заглушки -->

      <!-- <div class="upcoming-error-container">
        <p class="upcoming-error-container__text">
          OOPS...<br />
          We are very sorry!<br />
          But we couldn't find any upcoming movies this month.
        </p>
        <div class="upcoming-error-container__button">
          <a class="upcoming-error-container__link" href="./catalog.html"
            >Go to catalog
          </a>
        </div>

        <button class="upcoming-content__btn">Remind me</button>
      </div> -->
      <!-- <div class="upcoming-content__desktop">
        <h3 class="upcoming-content__name">THE LOST CITY</h3>

        <div class="upcoming-thumb">
          <ul class="upcoming-list left">
            <li class="upcoming-list__item">
              <p class="upcoming-list__text">Release date</p>
              <p class="upcoming-list__date">03.03.2023</p>
            </li>
            <li class="upcoming-list__item">
              <p class="upcoming-list__text">Vote / Votes</p>
              <p class="upcoming-list__vote">
                <span class="vote">7.3</span> / <span class="vote">1260</span>
              </p>
            </li>
          </ul>

          <ul class="upcoming-list rigth">
            <li class="upcoming-list__item">
              <p class="upcoming-list__text">Popularity</p>
              <p class="upcoming-list__pop">99.9</p>
            </li>
            <li class="upcoming-list__item">
              <p class="upcoming-list__text">Genre</p>
              <p class="upcoming-list__genre">Comedy, action</p>
            </li>
          </ul>
        </div>

        <h3 class="upcoming-content__title">About</h3>
        <p class="upcoming-content__text">
          Reclusive author Loretta Sage writes about exotic places
          in her popular adventure novels that feature a handsome cover model
          named Alan. While on tour promoting her new book with Alan, Loretta
          gets kidnapped by an eccentric billionaire who hopes she can lead him
          to an ancient city's lost treasure from her latest story. Determined
          to prove he can be a hero in real life and not just on the pages
          of her books, Alan sets off to rescue her.
        </p>

        <button type="button" class="upcoming-content__btn">Remind me</button>
      </div> -->
    </div>
  </div>
</section>
