.back-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--btn-background);
  padding: 15px 18px;
  border-radius: 50%;
  z-index: 3;
  border: none;

  opacity: 0.5;

  &:hover {
    opacity: 0.9;
  }
}
.back-home__icon {
  transform: rotate(270deg);
  transform-origin: center;
}

.hidden {
  display: none;
}
