.library-hero__section {
    margin: 0 auto;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(83.48deg, #0E0E0E 25.78%, 
    rgba(14, 14, 14, 0) 60.07%), 
    url('/src/images/library/hero-hall-mobile-1x.jpg');
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
            background-image: linear-gradient(83.48deg, #0E0E0E 25.78%, 
            rgba(14, 14, 14, 0) 60.07%), 
            url('/src/images/library/hero-hall-mobile-2x.jpg');
            }
        }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.library-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.library-text__wrap {
    padding-bottom: 100px;
}

.library-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.library-text {
    font-size: 14px;
    line-height: 16px;
    color: #F8F8F8;
    width: 249px;
}

.library-content {
    width: 100%;
    padding: 40px 20px;

}

.library-content__text {
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.library-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #111111;
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    width: 121px;
    padding: 12px 24px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

// .catalog {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 16px;
// }

// .catalog__img-wrapper {
//   position: relative;
//   display: inline-block;
//   	width: 395px;
// 	height: 574px;
// }

// .catalog__img-wrapper::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(
//     180deg,
//     rgba(255, 0, 0, 0) 63.48%,
//     rgba(0, 0, 0, 0.9) 92.16%
//   );
// }

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .catalog__card {
//   position: relative;
//   display: inline-block;
//   color: aliceblue;
// }

// .catalog__info {
//   position: absolute;
//   bottom: 20px;
//   left: 20px;
// }

// .info__list{
// 	display: flex;
// }

// .info__title{
// 	margin-bottom: 14px;
// 	text-transform: uppercase;
// }

// .info__descr{
// 	position: relative;
// }
// .info__descr:not(:last-child){
// 	margin-right: 14px;
// }

// .info__descr:first-child::after {
// 	position: absolute;
// 	right: -7px;
// 	display: inline-block;
// 	content: '';
// 	height: 100%;
// 	width: 1px;
// 	background-color: rgb(255, 255, 255);
// }

// .title {
// 	margin-bottom: 28px;
// }

// // .catalog__img {
// // 	width: 100%;

// // }