.hero {
    background-image: url('/src/images/hero/hero-people-mobile-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 100px;
    position: relative;
    z-index: 1;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/src/images/hero/hero-people-mobile-2x.jpg');
        }
    
        @include tablet {
            background-image: 
            url('/src/images/hero/hero-tablet-1x.png'),
            url('/src/images/hero/hero-people-tablet-1x.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                url('/src/images/hero/hero-tablet-2x.png')
                url('/src/images/hero/hero-people-tablet-2x.jpg');
            }
        }
    
        @include desktop {
            background-image: 
            url('/src/images/hero/hero-desktop-1x.png'),
            url('/src/images/hero/hero-people-desktop-1x.jpg');
                padding-top: 36px;
                padding-bottom: 36px;
                padding-left: 32px;
                padding-right: 482px;

    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: 
                url('/src/images/hero/hero-desktop-1x.png'),
                url('/src/images/hero/hero-people-desktop-2x.jpg');
            }
        }
    
        @include desktop {
            padding-top: 118px;
            padding-bottom: 178px;
            padding-left: 135px;
            padding-right: 778px;
        }
}

/* .hero::after {
    background-image: url('/src/images/hero/hero-tablet-1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 100px;
    position: absolute;
    z-index: 0;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('/src/images/hero/hero-tablet-2x.png');
    }

    @media screen and (min-width: 320px) {
    background-image:
        url('/src/images/hero/hero-tablet-1x.png');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url('/src/images/hero/hero-tablet-2x.png');
    }
}
@media screen and (min-width: 768px) {
    background-image: url('/src/images/hero/hero-desktop-1x.png');
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 32px;
    padding-right: 482px;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('/src/images/hero/hero-desktop-2x.png');
    }
} 
}*/

.title{
    font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding-bottom: 12px;

    @include tablet {
            font-size: 44px;
            line-height: 52px;
        }

    @include desktop {
            font-size: 64px;
            line-height: 75px;
            padding-bottom: 16px;
        }
}


.catalog__stars-wrap {
    margin-right: 0px;
    width: 110px;
    font-size: 18px;
    position: relative;
    padding-bottom: 20px;

    &::before {
        content: ' ★ ★ ★ ★ ★';
        display: block;
    }

        @include desktop {
            padding-bottom: 28px;
        }
}

.catalog__rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
        content: ' ★ ★ ★ ★ ★';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: rgb(243, 152, 54);
    }
}


.description{
    font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #F8F8F8;
        padding-bottom: 16px;
    @include desktop {
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 19px;
        }
}