.hero {
    background-image: url('/src/images/hero/hero-people-mobile-1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 100px;
    position: relative;
        z-index: 1;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/src/images/hero/hero-people-mobile-2x.jpg');
        }
    
        @media screen and (min-width: 320px) {
            background-image: url('/src/images/hero/hero-people-tablet-1x.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('/src/images/hero/hero-people-tablet-2x.jpg');
            }
        }
    
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('/src/images/hero/hero-people-desktop-1x.jpg');
                padding-top: 36px;
                padding-bottom: 36px;
                padding-left: 32px;
                padding-right: 482px;

    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('/src/images/hero/hero-people-desktop-2x.jpg');
            }
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 118px;
            padding-bottom: 178px;
            padding-left: 135px;
            padding-right: 778px;
        }
}

.hero::after {
    content: '';
    display: block;
    background-image: url('/src/images/hero/hero-tablet-1x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80%;
    max-width: 500px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    width: 100vh;
    height: 100vh;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('/src/images/hero/hero-tablet-2x.png');
    }
}

@media screen and (min-width: 768px) {
    .hero::after {
        background-image: url('/src/images/hero/hero-desktop-1x.png');
        max-width: 700px;
        bottom: 50px;
        left: auto;
        right: 50px;
        transform: none;

        width: 100vh;
        height: 100vh;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('/src/images/hero/hero-desktop-2x.png')
        }
    }
}

.title{
    font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding-bottom: 12px;

    @media screen and (min-width: 768px) {
            font-size: 44px;
            line-height: 52px;
        }

    @media screen and (min-width: 1200px) {
            font-size: 64px;
            line-height: 75px;
            padding-bottom: 16px;
        }
}

.rating{
    padding-bottom: 20px;
    @media screen and (min-width: 1200px) {
            padding-bottom: 28px;
        }
}

.description{
    font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #F8F8F8;
        padding-bottom: 16px;
    @media screen and (min-width: 1200px) {
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 19px;
        }
}