// .iframe{
// 	position: fixed;
// }
.thumb {
    position: relative;
}

.background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    display: block;
    width: 100%;
}
.thumb{
    @include tablet {
            width: 704px;
            height: 432px;
        }
    
        @include desktop {
            width: 1215px;
            height: 720px;
        }
}
.backend {
    position: relative;
    top: 0;
    right: 0;
    width: 320px;
    height: 380px;
    object-fit: cover;
    @include tablet {
            width: 482px;
            height: 432px;
        }
        @include desktop {
            width: 802px;
                height: 720px;
        }
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    @include tablet {
        opacity: 1;
        width: 768px;
        height: 432px;
    }
        @include desktop {
    width: 1280px;
    height: 720px;
        }
}

.hero-wrap__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.background-image img {
    width: 100%;
}

/* .hero-wrap{
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 10px;

    @include tablet {
            padding-top: 36px;
            padding-bottom: 36px;
            padding-left: 32px;
            padding-right: 482px;
    }

    @include desktop {
            padding-top: 118px;
            padding-bottom: 178px;
            padding-left: 135px;
            padding-right: 778px;
    }
} */

.hero-wrap__content{
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 10px;
    @include tablet {
            padding-top: 36px;
            padding-bottom: 36px;
            padding-left: 20px;
            padding-right: 300px;
        }
                @include desktop {
                    padding-top: 62px;
                    padding-bottom: 178px;
                    padding-left: 30px;
                    padding-right: 650px;
                }
}

.title{
    font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding-bottom: 12px;

    @include tablet {
            width: 250px;
            font-size: 30px;
            line-height: 31px;
        }

    @include desktop {
            width: 420px;
            font-size: 60px;
            line-height: 75px;
            padding-bottom: 16px;
        }
}

.catalog__stars-wrap {
    margin-right: 0px;
    width: 110px;
    font-size: 18px;
    position: relative;
    padding-bottom: 20px;

    &::before {
        content: ' ★ ★ ★ ★ ★';
        display: block;
    }
}

.catalog__rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before {
        content: ' ★ ★ ★ ★ ★';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: rgb(243, 152, 54);
    }
}

.description{
    font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #F8F8F8;
        padding-bottom: 16px;
        padding-top: 20px;

    @include tablet {
            width: 260px;
        }
    @include desktop {
            width: 450px;
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 19px;
        }
}

.watch-trailer__btn{
    display: block;
    margin-top: 20px;
    padding: 12 24;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;

    border: none;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-radius: 74px;
    color: #111111;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.watch-trailer__btn:hover,
.watch-trailer__btn:focus {
    color: #f87719;
    background: #fff;
    border: 1px solid #f87719;
}