.modal-film {
  background-color: var(--main-background);
  width: 320px;
  padding:0 16px;  
}
.film__preview {
}
.film__wrap {
}
.film__title {
}
.film__stats {
}
.stats__item {
}
.film__about {
}
.film__text {
}