.modal__wrap--team {
}
.modal-team {
  position: relative;
  background-color: var(--grey-text-color);
  padding: 40px 10px;
}
.team__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.team__list {
  display: grid;
}
.team__member {
}
.member__img {
}
.member__name {
}
.member__pos {
}
.member__social {
}
.social__item {
}
