.notification-trailer-fail{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 289px;
    background:var(--grey-text-color);
    box-shadow: var(--modal-box-shadow);
    border-radius: 16px;
}
@media screen and (min-width: 768px){
    .notification-trailer-fail{
    width: 609px;
    height: 400px;
    }
}
@media screen and (min-width: 1200px){
    .notification-trailer-fail{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    border-radius: 20px;
    }
}
.notification-trailer-fail-text{
    position: absolute;
    width: 214px;
    height: 65px;
    left: 33px;
    top: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--second-text-color);
}
@media screen and (min-width: 768px){
    .notification-trailer-fail-text{
    width: 321px;
    height: 92px;
    left: 44px;
    top: 132px;
    font-size: 24px;
    line-height: 28px;
    }
}

@media screen and (min-width: 1200px){
    .notification-trailer-fail-text{
    left: 50px;
    top: 150px;
    width: 321px;
    height: 100px;
    }
}

.notification-trailer-fail-label{
position: absolute;
left: 61px;
bottom: 8px;

}

@media screen and (min-width: 768px){
    .notification-trailer-fail-label{
        left: 303px;
        top: 124px;
        bottom: 16px;
    }
}

@media screen and (min-width: 1200px){
    .notification-trailer-fail-label{
    left: 337px;
    top: 77px;
    bottom: 5px;
    }
}
.notification-trailer-fail-btn-close{
position: absolute;
width: 16px;
height: 16px;
padding: 0;
border: none;
top: 20px;
right: 20px;
display: flex;
justify-content: center;
align-items: center;
background: transparent;
cursor: pointer;
}

@media screen and (min-width: 768px){
    .notification-trailer-fail-btn-close{
        width: 24px;
        height: 24px;
        right: 24px;
        top: 24px;
    }
}

@media screen and (min-width: 1200px){
    .notification-trailer-fail-btn-close{
        right: 28px;
        top: 28px;
    }
}

.notification-trailer-fail-btn-close__icon{
    width: 16px;
    height: 16px;
}

