ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.weekly-trends {
    padding: 40px 20px 32px 20px;

    @include tablet {
        padding: 52px 32px 44px 32px;
    }

    @include desktop {
        padding: 80px 32px 60px 32px;
    }
}

.head-weeklytrends {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;

    @include tablet {
        margin-bottom: 24px;
    }

    @include desktop {
        margin-bottom: 28px;
    }
}

.weeklytrends-title {
    color: #fff;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 500;

    @include tablet {
        font-size: 24px;
    }

    @include desktop {
        font-size: 28px;

    }

    &__orange {
        color: #F87719;
    }
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    &__stars-wrap {
        margin-right: 0px;
        width: 106px;
        font-size: 18px;
        position: relative;
    }

    &__stars-wrap::before {
        content: " ★ ★ ★ ★ ★";
        display: block;
    }

    &__rating-active {
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__rating-active::before {
        content: " ★ ★ ★ ★ ★";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: rgb(243, 152, 54);
    }

    &__img-wrapper {
        position: relative;
        display: inline-block;
        width: 280px;
        height: 406px;

        @include tablet {
            width: 224px;
            height: 325px;
        }

        @include desktop {
            width: 395px;
            height: 574px;
        }
    }

    &__img-wrapper::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,
                rgba(255, 0, 0, 0) 63.48%,
                rgba(0, 0, 0, 0.9) 92.16%);
    }

    &__card {
        position: relative;
        display: inline-block;
        color: aliceblue;
    }

    &__info {
        position: absolute;
        bottom: 12px;
        left: 12px;

        @include desktop {
            left: 20px;
        }
    }

    &__input {
        background-color: var(--main-background);
        color: var(--main-white-color);
        margin-bottom: 36px;
        width: 315px;
        height: 48px;
        border: 1px solid #ffffff;
        border-radius: 8px;

        padding-left: 24px;
        padding-top: 14.5px;
        padding-bottom: 14.5px;
    }

    &__btn {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--btn-background);
        border: none;
    }

    &__img {
        width: 100%;
        height: 100%;
    }
}

.info {

    &__list {
        display: flex;
    }

    &__title {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        text-transform: uppercase;

        margin-bottom: 14px;

        @include tablet {
            font-size: 14px;
            line-height: 1.29;
        }

        @include desktop {
            font-size: 20px;
            line-height: 1.17;
        }
    }

    &__descr {
        color: #B7B7B7;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.67;
        position: relative;

        @include tablet {
            line-height: 1.5;
        }

        @include desktop {
            font-size: 20px;
            line-height: 1.17;
        }
    }

    &__descr:not(:last-child) {
        margin-right: 14px;
    }

    &__descr:first-child::after {
        position: absolute;
        right: -7px;
        display: inline-block;
        content: '';
        height: 100%;
        width: 1px;
        background-color: rgb(255, 255, 255);
    }
}

.title {
    margin-bottom: 28px;
}

svg {
    fill: var(--brend-color);
}

.star {
    width: 18px;
    height: 18px;
}